<!DOCTYPE html>
<html>
  <head>
    <title>React on Rails Tutorial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag('clientRegistration', media: 'all', 'data-turbolinks-tracks': true) %>
    <%= javascript_packs_with_chunks_tag('clientRegistration', 'data-turbolinks-tracks', true, defer: true) %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= react_component "NavigationBarApp" %>
    <div class="container">
    <%= yield %>
    </div>

    <%= redux_store_hydration_data %>
  </body>
</html>
