<!DOCTYPE html>
<html>
  <head>
    <title>TestReactWebpackTailsTutorialV6032</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= react_component "NavigationBarApp" %>
    <div class="container">
    <%= yield %>
    </div>

    <%= redux_store_hydration_data %>
  </body>
</html>
